/* desktop-first */
body {
      background-image: url('../images/GoldenSky.jpg');  
     /* background-color: rgb(244, 209, 164);   */
    
    color: rgb(123, 63, 0);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;

}

h2{
    font-size: x-large;
    font-weight: lighter;
    color: rgb(123, 63, 0);
}

p {
    font-size: larger;
    font-style: normal;
}


a:hover {
    opacity: 0.3;
}


.experience-container {
    display: flex;
    flex-direction: reverse;
    border: coral; 
    
}

.experience-container div {
    background-color:burlywood ;
    border-style: solid;
    border-color: rgb(207, 140, 52);
    margin-left: 2%;
    padding: 1rem;
}

.connect-container {
    display:flex;
    justify-content: space-around;   
    gap: 2rem;
    scroll-margin-top: 2em;
}



#navigation {
    position: fixed;
    top: 0;
    background-color: rgb(207, 140, 52);
    width: 100%;
    
}

.navigation-container {
    display: flex;
    gap: 4em; 
    list-style: none; 
    justify-content: space-around;
    font-size: larger;
}

#name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
    margin-top: 4em;
    scroll-margin-top: 2em; 
    font-size: xx-large;
}


#about {
    
    scroll-margin-top: 8em;
}

#experience {
    scroll-margin-top: 3em;
}

#skills {
    scroll-margin-top: 3em;
}

@media (min-width:500px) and (max-width:1000px) {
    h2 {
         font-size: larger;
         color: blueviolet;
    }
    ul {
        padding: 1rem;
        background-color: aquamarine;
    }
    h1 {
        
        font-size: xx-large;
        font-style: oblique;
        font-weight: bold;
    }
}

@media (max-width:499px) {
    h2 {margin-top: 1em;
         font-size: larger;
         color: rgb(43, 226, 217);
    }
    ul {
        padding: 1em;
        background-color: rgb(255, 98, 36);
    }
    h1 {margin-top: 6em;
        padding-top: 10rem;
        font-size: xx-large;
        font-style: oblique;       
    }
    
    #navigation ul { 
         display: list-item;   
    }  
    .experience-container {
        flex-direction:column;       
    }
    #experience {
        padding-top: 5em;
    }
    #about {
        padding-top: 5em;
    }
    #experience {
        padding-top: 5em;
    }
    #skills {
        padding-top: 5em;
    }
    #projects {
        padding-top: 5em;
    }
    #connect {
        padding-top: 5em;
    }
    
}


